@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  .theme-zld {
    /* Primitives Colors */
    --color-white: 255, 255, 255;
    --color-gray-50: 255, 255, 255;
    --color-gray-100: 250, 250, 250;
    --color-gray-200: 242, 242, 242;
    --color-gray-300: 229, 229, 229;
    --color-gray-400: 212, 212, 212;
    --color-gray-500: 197, 197, 197;
    --color-gray-600: 163, 163, 163;
    --color-gray-700: 115, 115, 115;
    --color-gray-800: 71, 71, 71;
    --color-gray-900: 24, 24, 24;
    --color-black: 0, 0, 0;
    --color-green: 77, 102, 77;
    --color-green-light: 185, 218, 188;
    --color-green-lighter: 218, 234, 219;
    --color-green-lightest: 235, 242, 235;
    --color-brown: 190, 146, 88;
    --color-brown-light: 234, 221, 203;
    --color-brown-lighter: 235, 222, 204;
    --color-brown-lightest: 245, 237, 227;
    --color-yellow-darkest: 151, 79, 9;
    --color-yellow-darker: 187, 103, 2;
    --color-yellow-dark: 225, 145, 0;
    --color-yellow: 254, 192, 15;
    --color-yellow-light: 255, 217, 110;
    --color-yellow-lighter: 255, 236, 180;
    --color-yellow-lightest: 252, 244, 216;
    --color-orange-darker: 255, 255, 255;
    --color-orange-dark: 255, 255, 255;
    --color-orange: 252, 77, 2;
    --color-orange-light: 255, 146, 100;
    --color-orange-lighter: 255, 194, 160;
    --color-orange-lightest: 255, 221, 203;
    --color-blue-darker: 255, 255, 255;
    --color-blue-dark: 255, 255, 255;
    --color-blue: 9, 34, 116;
    --color-blue-light: 77, 102, 169;
    --color-blue-lighter: 185, 218, 255;
    --color-blue-lightest: 218, 234, 255;
    --color-red-darker: 255, 255, 255;
    --color-red-dark: 255, 255, 255;
    --color-red: 216, 9, 9;
    --color-red-light: 232, 146, 120;
    --color-red-lighter: 242, 197, 180;
    --color-red-lightest: 249, 225, 214;
    --color-cream-lighter: 255, 255, 255;
    --color-cream-light: 255, 255, 255;
    --color-cream: 255, 255, 255;
    --color-cream-dark: 255, 255, 255;
    --color-cream-darker: 255, 255, 255;
    --color-transparent: 255, 255, 255;

    /* Social */
    --color-facebook-blue: 24, 119, 242;
    --color-google-green: 52, 168, 83;
    --color-google-red: 234, 67, 53;
    --color-google-yellow: 251, 188, 5;

    /* Brand */
    --color-primary-light: var(--color-white);
    --color-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-green);
    --color-secondary-light: var(--color-green-light);
    --color-tertiiary-dark: var(--color-brown-light);
    --color-tertiary-light: var(--color-brown-lightest);
    --color-text: var(--color-black);

    /* Navigation */
    --color-nav-text-secondary: var(--color-white);
    --color-nav-background: var(--color-black);
    --color-nav-eyebrow: var(--color-gray-900);
    --color-nav-text-primary: var(--color-white);
    --color-nav-account-bar: var(--color-gray-700);
    --color-nav-menu-selector: var(--color-gray-500);

    /*
      Button
    */

    /* Button Primary */
    --color-button-primary-text: var(--color-white);
    --color-button-primary-text-active: var(--color-white);
    --color-button-primary-text-hover: var(--color-white);
    --color-button-primary-text-down: var(--color-white);
    --color-button-primary-text-focus: var(--color-white);

    --color-button-primary-bg: var(--color-black);
    --color-button-primary-bg-active: var(--color-gray-900);
    --color-button-primary-bg-hover: var(--color-gray-800);
    --color-button-primary-bg-down: var(--color-gray-900);

    --color-button-primary-border: var(--color-black);

    /* Button Primary Outline */
    --color-button-outline-text: var(--color-black);
    --color-button-outline-bg: var(--color-transparent);
    --color-button-outline-border: var(--color-black);

    --color-button-outline-bg-hover: var(--color-gray-200);
    --color-button-outline-border-focus: var(--color-blue-light);
    --color-button-outline-bg-active: var(--color-gray-500);

    /* Button Secondary */
    --color-button-secondary-text: var(--color-black);
    --color-button-secondary-bg: var(--color-gray-200);
    --color-button-secondary-border: var(--color-gray-500);

    --color-button-secondary-bg-hover: var(--color-gray-300);
    --color-button-secondary-border-hover: var(--color-gray-800);

    --color-button-secondary-border-focus: var(--color-black);

    --color-button-secondary-bg-active: var(--color-gray-500);
    --color-button-secondary-border-active: var(--color-gray-500);

    /* Button Secondary Outline */
    --color-button-outline-secondary-text: var(--color-black);
    --color-button-outline-secondary-bg: var(--color-white);
    --color-button-outline-secondary-border: var(--color-gray-500);

    --color-button-outline-secondary-bg-hover: var(--color-gray-200);
    --color-button-outline-secondary-border-focus: var(--color-black);
    --color-button-outline-secondary-bg-active: var(--color-gray-500);

    /* Button Action*/
    --color-button-action-text: var(--color-white);
    --color-button-action-text-hover: var(--color-black);
    --color-button-action-text-focus: var(--color-white);
    --color-button-action-text-active: var(--color-white);
    --color-button-action-text-down: var(--color-white);
    --color-button-action-text-disabled: var(--color-black);

    --color-button-action-bg: var(--color-green);
    --color-button-action-bg-hover: var(--color-green-light);
    --color-button-action-bg-focus: var(--color-green);
    --color-button-action-bg-active: var(--color-green);
    --color-button-action-bg-down: var(--color-green);
    --color-button-action-bg-disabled: var(--color-green-lightest);

    --color-button-action-border: var(--color-green);
    --color-button-action-border-hover: var(--color-green-light);
    --color-button-action-border-focus: var(--color-black);
    --color-button-action-border-active: var(--color-green);
    --color-button-action-border-down: var(--color-green);
    --color-button-action-border-disabled: var(--color-green-lightest);

    --color-button-outline-action-border: var(--color-white);
    --color-button-outline-action-border-focus: var(--color-yellow);

    /* Attention */
    --color-alert-bg: var(--color-orange);
    --color-alert-text: var(--color-white);
    --color-alert-light-bg: var(--color-yellow);
    --color-alert-light-text: var(--color-black);
    --color-notice-bg: var(--color-green-light);
    --color-notice-text: var(--color-black);

    /* E-com */
    --color-discount: var(--color-orange);

    /* Backgrounds */
    --color-background-dark: var(--color-green);
    --color-background-light: var(--color-green-light);
    --color-bg: var(--color-white);
    --color-background-gray: var(--color-gray-500);
    --color-background-gray-light: var(--color-gray-400);
    --color-bg-black: var(--color-black);

    /* Typographic Colors */
    --color-content-text: var(--color-gray-900);

    /* Typographic Scale */
    --text-size-xs: 0.79rem;
    --text-size-sm: 0.889rem;
    --text-size-base: 1rem;
    --text-size-lg: 1.125rem;
    --text-size-xl: 1.266rem;
    --text-size-2xl: 1.424rem;
    --text-size-3xl: 1.602rem;
    --text-size-4xl: 1.802rem;
    --text-size-5xl: 2.027rem;
    --text-size-6xl: 2.281rem;
    --text-size-7xl: 2.566rem;
    --text-size-8xl: 2.887rem;
    --text-size-9xl: 3.247rem;

    /* Rounded */
    --rounded-none: 0;
    --rounded-sm: 3px;
    --rounded: 6px;
    --rounded-lg: 12px;
    --rounded-full: 9999px;
  }

  .theme-zld,
  .theme-muv {
    @apply bg-white font-body font-normal text-content-text no-underline underline-offset-4 transition-all duration-150;
  }

  .theme-zld {
    @apply tracking-normal sm:tracking-wide;
  }

  .theme-muv {
    @apply tracking-normal;
  }
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2 font-heading font-bold leading-tight tracking-tight;
  }

  h1 {
    @apply text-5xl md:text-7xl lg:text-9xl;
  }

  h2 {
    @apply mt-2 text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply mt-2 text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply mt-2 text-lg md:text-xl lg:text-2xl;
  }

  h5,
  h6 {
    @apply mt-1 text-base md:text-lg;
  }

  h6 {
    @apply italic;
  }

  .btn {
    @apply inline-block rounded px-10 py-4 text-lg leading-4;
  }

  .product-item {
    @apply flex h-40 w-40 flex-col items-center justify-end rounded border text-content-text;

    img {
      @apply mb-4 min-h-[60px] max-w-[70px];
    }

    span {
      @apply pb-5 text-lg;
    }
  }

  .home-hero {
    @apply mx-auto mt-8  flex h-[570px] items-center rounded bg-cover;
  }

  div.img-object-cover img {
    @apply object-cover;
  }
}

strong {
  @apply font-bold;
}

.content {
  p,
  .innerWrap li {
    @apply mb-5 leading-normal;
  }

  ul {
    @apply list-disc pl-5;
  }

  ul,
  ol {
    @apply my-4;
    & > li {
      @apply mb-2;
    }
  }

  blockquote {
    @apply mb-0 !important;
  }

  p:not(.has-custom-color) a,
  li:not(.has-custom-color) a,
  small:not(.has-custom-color) a {
    @apply font-semibold text-black transition-all duration-150 hover:underline;
  }

  p.has-custom-color a,
  li.has-custom-color a {
    @apply underline;
  }

  p a,
  li a {
    @apply relative;
  }

  .align-right {
    @apply clear-both block pb-4 sm:float-right sm:ml-4 sm:inline-block sm:pb-0;

    small,
    img {
      @apply mx-auto block text-center sm:text-justify;
    }
  }

  .align-left {
    @apply clear-both block pb-4 sm:float-left sm:mr-4 sm:inline-block sm:pb-0;

    small,
    img {
      @apply mx-auto block text-center sm:text-justify;
    }
  }
}

.reference p a[target='_blank'],
.reference li a[target='_blank'] {
  @apply pr-6;
}

.reference p a[target='_blank']::after,
.reference li a[target='_blank']::after {
  content: '';
  background-image: url('https://zenleafdispstg.wpengine.com/wp-content/uploads/2022/08/external-link2.svg');

  @apply absolute right-[2px] top-[-1px] h-[18px] w-[18px] bg-contain;
}

.store-info-klavyio {
  @apply bg-gray-300 bg-opacity-40 px-4 py-12;
}

.pagination ul {
  @apply m-0 list-none p-0;
}

.pagination.has-next.has-previous ul {
  column-count: 2;
}

.pagination-next {
  @apply text-right;
}

.floatingMapButton {
  @apply absolute right-[10px] top-[10px] z-[999] bg-white;
}

input:checked + div {
  @apply border-black;
}

input:checked + div > span {
  @apply opacity-100;
}

@media only screen and (max-width: 767px) {
  #filter {
    @apply absolute top-[-100px];
  }

  #filter.sticky-pos {
    @apply fixed top-[100px] bg-white pt-2.5;
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.carousel__dot-group button {
  @apply inline-block h-3 w-3 rounded-full border border-button-secondary-border bg-black hover:bg-gray-900;
}

.carousel__dot-group .carousel__dot--selected {
  @apply inline-block h-3 w-3 rounded-full bg-white hover:opacity-50;
}

.single-store-page .slide___3-Nqo {
  @apply bg-center lg:h-[522px] lg:pb-0 !important;
}

.slick-arrow.slick-prev.slick-disabled {
  @apply w-0 border-none p-0;
}

.carousel__dot--selected {
  @apply border-yellow-light bg-yellow-lighter;
}

.carousel__dot--selected:hover {
  @apply !bg-black;
}

.carousel__dot--selected .slidertimer {
  @apply animate-slidertimer;
}

.is-style-rounded {
  @apply rounded-full;
}

.is-style-square-corners {
  @apply !rounded-none;
}

.flex-col-reverse-im {
  @apply flex-col-reverse !important;
}

.md\:flex-row-im {
  @apply md:flex-row !important;
}

.separator img {
  @apply rounded-none !important;
}

.innerWrap .breadcrumbs {
  & li {
    @apply hidden lg:flex;
  }

  & li:nth-child(3) {
    @apply block lg:flex;

    a {
      @apply pl-5 lg:pl-0;
    }

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");

      @apply absolute left-2 top-6 h-[16px] w-[16px] lg:hidden;
    }

    > span {
      @apply hidden lg:block;
    }
  }
}

.gettingoffset::before {
  content: '';
  display: block;
  height: 95px;
  margin-top: -95px;
}

#page-content [id] {
  scroll-margin-top: 13rem;
}

.faqAnswer {
  ul {
    @apply list-disc pl-5;
  }
}

#medchat-launcher-frame {
  @apply !z-30;
}

@media only screen and (max-width: 767px) {
  .half-bottom-border {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 25%;
      bottom: 0;
      height: 3px;
      width: 50%;
      border-bottom: 3px solid #4d664d;
    }
  }
}

.store-info-hero {
  background-position: top center;
  background-size: cover !important;
}

figure.align-center {
  @apply mx-auto;
  img {
    @apply mx-auto;
  }
}

@media (max-width: 768px) {
  :root {
    --gutter: 20px;
  }

  .horizontalCards {
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
  }

  .horizontalCards > * {
    grid-column: 2 / -2;
  }

  .hs::before,
  .hs::after {
    content: '';

    @apply w-3;
  }

  .no-scrollbar {
    scrollbar-width: none;

    @apply mb-0 pb-0;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }
}

.hs {
  @apply grid grid-flow-col;

  @media (max-width: 640px) {
    grid-auto-columns: calc(100% - var(--gutter) * 2);
  }

  @media (max-width: 768px) AND (min-width: 640px) {
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  }

  @media (max-width: 768px) {
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(0.75 * var(--gutter));
    margin-bottom: calc(-0.25 * var(--gutter));
  }
}

/*
  Search bar css
*/

.ais-search-box-custom {
  @apply max-w-none;
}
.ais-SearchBox-form {
  @apply relative flex;
}

.ais-SearchBox-submit {
  @apply absolute left-2 top-2 h-6 w-6 rounded-r-full bg-white;
}

.ais-SearchBox-reset {
  @apply hidden;
}

.ais-SearchBox-submitIcon {
  @apply h-[16px] w-5;
}

.ais-SearchBox-input {
  @apply flex-auto rounded-sm border border-button-secondary-border/50 p-2 pl-10 hover:border-black focus-visible:border-primary-dark focus-visible:outline-none;
}

.theme-zld .ais-SearchBox-form {
  @apply h-full w-full;
}

.theme-zld .ais-SearchBox-input {
  @apply w-full font-heading text-base font-semibold;
}

.theme-muv .ais-SearchBox-input {
  @apply relative z-0 max-w-[180px] border-gray-200 bg-white py-1.5 pl-9 text-lg leading-normal transition hover:border-gray-400 focus-visible:border-primary-dark;
}

.theme-muv .search-stretch .ais-SearchBox-input {
  @apply w-full max-w-none;
}

.theme-muv #desktopHeaderSearchWrap.search-stretch {
  @apply w-full;
}

.theme-muv .ais-SearchBox-submit {
  @apply left-3 top-2 lg:left-2;
}

.bg-border-radius {
  @apply absolute bottom-0 mx-auto ml-0 mr-[-200px] hidden h-[400px] w-full overflow-hidden rounded-b-none rounded-l-none rounded-r-full rounded-t-full bg-gray-50 lg:block;
}

.gradientBG {
  box-shadow: inset 240px 0 150px 0 rgb(0 0 0 / 80%);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 60px 0 150px 0 rgb(0 0 0 / 80%);
  }

  @screen md {
    box-shadow: inset 380px 0 200px 0 rgb(0 0 0 / 80%);
  }
}

.shopLocationsGrid .ais-Hits-list {
  @apply grid grid-cols-1 gap-4;
}

@screen sm {
  .shopLocationsGrid .ais-Hits-list {
    @apply grid-cols-2;
  }
}

@screen md {
  .shopLocationsGrid .ais-Hits-list {
    @apply grid-cols-3;
  }
}

.searchMobileProductWrap .ais-Hits-list {
  @apply flex flex-row;
}

.wp-block-columns {
  @apply m-4 grid grid-cols-1 gap-4 md:grid-cols-2;
}

.wp-block-column {
  @apply col-span-1;
}

/* figure.rounded {
  img {
    @apply rounded;
  }
} */

.homeSlide {
  background-size: cover !important;
  height: 544px !important;
  background-position: top center !important;
}

.smartCardImageWrap {
  @apply relative;

  span {
    height: 216px !important;
    width: 181px !important;
    max-width: 181px !important;

    @screen sm {
      height: 288px !important;
      width: 242px !important;
      max-width: 242px !important;
    }

    position: absolute;
    right: 0;
  }
}

/* WEBFLOW RELATED */
.accordion-content,
.blog-post-content {
  ul {
    list-style: disc !important;
    padding-left: 40px !important;
  }

  a {
    text-decoration: underline;
  }

  li {
    list-style: disc !important;
    margin-bottom: 10px;
  }
}

aside h3 + div a {
  @apply mb-4;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  @apply rounded-full hover:bg-gradient-to-b hover:text-white sm:hover:from-blue-darker sm:hover:to-blue-dark md:hover:shadow-xl;
}

.mapboxgl-popup-anchor-top {
  @apply !shadow-none;
}

.mapboxgl-popup-content {
  @apply !bg-transparent !p-0 !shadow-none;
}

#legal-content > div {
  @apply invisible h-0 opacity-0;
}

.show {
  @apply visible h-auto opacity-100 !important;
}

#rewards-tab-link .active {
  @apply bg-gray-100 text-content-text;
}

#rewards-tab-link .active svg {
  @apply text-brown-light;
}

.innerWrap li {
  ul {
    li {
      @apply list-[circle] pl-0 !important;
    }
  }
}

.page-header {
  h1 {
    @apply mb-2 font-body text-xl font-semibold tracking-wider sm:text-2xl md:text-3xl lg:text-4xl;
  }
  p {
    @apply mb-0 text-base tracking-wider md:text-lg;

    &:first-child {
      @apply mb-2;
    }
  }
}
.slick-track {
  @apply flex flex-row;
}

@media only screen and (max-height: 890px) {
  .modal {
    @apply top-0;
  }

  .modal-close {
    @apply -top-16;
  }

  .modal-image {
    @apply hidden;
  }

  .modal-text {
    @apply rounded;
  }
}

button strong {
  @apply font-bold;
}

.product-description ul {
  @apply mb-4 list-disc pl-10;
}

.product-description ul li {
  @apply mb-2;
}

/* Roman Lists (Upper) */
.list-roman-upper {
  @apply list-[upper-roman] pl-6;
  & > li {
    @apply !list-[upper-roman] !pl-2 before:!content-none;
  }
}

/* Roman Lists (Lower) */
.list-roman-lower {
  @apply list-[lower-roman] pl-6;
  & > li {
    @apply !list-[lower-roman] !pl-2 before:!content-none;
  }
}

/* Alpha Lists (Upper) */
.list-alpha-upper {
  @apply list-[upper-alpha] pl-6;
  & > li {
    @apply !list-[upper-alpha] !pl-2 before:!content-none;
  }
}

/* Alpha Lists (Lower) */
.list-alpha-lower {
  @apply list-[lower-alpha] pl-6;
  & > li {
    @apply !list-[lower-alpha] !pl-2 before:!content-none;
  }
}

/* Square Lists */
.list-square {
  @apply list-[square] pl-6;
  & > li {
    @apply !list-[square] !pl-2 before:!content-none;
  }
}

iframe {
  @apply max-w-full;
}

.align-self-center {
  align-self: center;
}

.ring-gallery {
  @apply ring-black;
}

/* In zld age gate img it's dificult to write many custom CSS in tailwind
So, we've to do it here */
.zld-age-gate-content {
  @apply h-[625px];
}

@media only screen and (max-width: 1023px) and (min-width: 768px) and (max-height: 1024px) {
  .zld-age-gate-img {
    @apply hidden;
  }
  .zld-age-gate-content {
    @apply h-full;
  }
}

@media only screen and (max-width: 767px) {
  .zld-age-gate-img {
    @apply block;
  }
  .zld-age-gate-content {
    @apply h-[625px];
  }
}

@media only screen and (max-width: 767px) and (min-width: 575px) and (max-height: 900px) {
  .zld-age-gate-img {
    @apply hidden;
  }
  .zld-age-gate-content {
    @apply h-full;
  }
}

@media only screen and (max-width: 574px) {
  .zld-age-gate-img {
    @apply block;
  }
  .zld-age-gate-content {
    @apply h-[552px];
  }
}

@media only screen and (max-width: 574px) and (min-width: 450px) and (max-height: 720px) {
  .zld-age-gate-img {
    @apply hidden;
  }
  .zld-age-gate-content {
    @apply h-full;
  }
}

@media only screen and (max-width: 449px) {
  .zld-age-gate-img {
    @apply block;
  }
  .zld-age-gate-content {
    @apply h-[542px];
  }
}

@media only screen and (max-width: 449px) and (max-height: 700px) {
  .zld-age-gate-img {
    @apply hidden;
  }
  .zld-age-gate-content {
    @apply h-full;
  }
}

@media print {
  #skip-nav,
  #location-bar,
  header,
  footer {
    @apply hidden;
  }
}
